@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto'; 
}

.top-content {
    background-color: #1F2937;
    color: #F9FAF8;
    padding-top: 12px;
    padding-bottom: 30px;
    padding-right: 50px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.title {
    font-size: 48px;
    font-weight: bold;
}

.header-logo {
    font-size: 24px;
    font-weight: 900;
}

.subtext-one {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    color: #E5E7EB;
    background-color: #3882F6;
    font-weight: 900;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 22px;
    padding-left: 22px;
    border-radius: 10px;
    border: none;
}

.mid-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subtext-two {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.boxes {
    display: flex;
}

.box {
  border-radius: 25px;
  border: 2px solid #3882F6;
  padding: 20px;
  width: 200px;
  height: 150px;
}

.text {
    display: flex;
    flex-wrap: wrap;
}

.quote-box {
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
}

.quotation {
    font-size:36px;
    font-style: 'light italic';
    color: #1F2937;
}

.quote-Of {
    font-size: 18px;
    font-weight: bold;
}

.sign-up-popup {
    display: flex;
    background-color: #3882F6;
    color: #E5E7EB;
}

.bottom-button {
    border: 2px solid #E5E7EB;
}

.footer {
    background-color: #eeeeee;
    padding: 20px;
    display: flex;
    justify-content: center;
}

/* Hero Main
text ("this
website is
awesome")
48px #F9FAF8 weight: 900 Hero Secondary text, Header Link Text
18px #E5E7EB
Header Logo Text
24px #F9FAF8
Button color, call to action background color
#3882F6
information header text
36px #1F2937 weight: 900
Quote section background color
#E5E7EB
Quote text
36px light italic #1F2937 */