@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-content {
    background-color: #1F2937;
    color: #F9FAF8;
    padding-top: 12px;
    padding-bottom: 30px;
    padding-right: 40px;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 28px;
    font-weight: 900;
}

.header-links {
    list-style: none;
    gap: 10px;
    display: flex;
}

.header-links a {
    text-decoration: none;
    font-size: 18px;
    color: lightgray;
}

.top-section {
    display: flex;
    justify-content: space-between;
}

.all-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    font-size: 48px;
    font-weight: bold;
}

.subtext-one {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 10px;
    margin-bottom: 10px;
}

.top-image {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin-top: 10px;
}

img {
  width: 500px;
  height: 250px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  border: 6px solid #b4ceff;
}

.top-button button {
    border: none;
}

button {
    color: #E5E7EB;
    background-color: #3882F6;
    font-weight: 900;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 22px;
    padding-left: 22px;
    border-radius: 6px;
    margin-top: 8px;
}

.mid-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subtext-two {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin-bottom: 32px;
    margin-top: 16px;
}

.boxes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 128px;
}

.box1, .box2, .box3, .box4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.box {
  border-radius: 25px;
  border: 2px solid #3882F6;
  padding: 20px;
  width: 180px;
  height: 150px;
}

.text {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 180px;
}

.quote-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 70px;
    margin: 70px;
    border-radius: 5px;
}

.quotation {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}

.quote-Of {
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    font-weight: bold;
}

.sign-up-popup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3882F6;
    color: #E5E7EB;
    margin-left: 350px;
    margin-right: 350px;
    padding-top: 45px;
    padding-bottom: 45px;
    padding-left: 64px;
    padding-right: 64px;
    border-radius: 8px;
}

.title-two {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 8px;
}

.text-two {
    font-size: 16px;
}

.bottom-button button {
  border: 2px solid #E5E7EB;
}

.footer {
    background-color: #eeeeee;
    padding: 20px;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}